a:hover {
    text-decoration: none;
}
a {
    color: #000;
}
.header {
    background: #f7f9fa;
}
.btn_search {
    right: 0;
    top: 2px;
}
.btn_search:focus {
    outline: none;
}
.header_search {
    width: 260px
}
.nav-item a {
    color: #FFF !important;
    text-transform: uppercase;
}
li.nav-item {
    flex-grow: 1;
    border-right: 1px solid #FFF;
    text-align: center;
    font-weight: 500
}
li.nav-item a:hover {
    color: #f26b38 !important;
    transition: 0.5s color;
}
ul li:last-child {
    border: 0;
}
.navbar-nav li:hover:nth-child(2) ul.sub_menu1 {
    display: block;
    z-index: 111;
}
ul.sub_menu1 {
    position: absolute;
    top: 10;
    top: 40px;
    list-style: none;
    padding: 0;
    background: #343a40;
    width: 1040px;
    text-align: left;
    display: none;
}
ul.sub_menu1 li {
    padding: 13px;
    padding-left: 20px;
}
ul.sub_menu1 li a {
    text-decoration: none;
}
.detail_name {
    color: #fff;
    text-transform: uppercase;
}
.overlay {
    position: absolute;
    height: 160px;
    opacity: 0;
    background: #111;
    width: 240px;
}
.detail_1 {
    flex-grow: 100px;
    flex-basis: 240px;
}
li.sub_menu_detail .detail_1:hover .overlay {
    opacity: 0.8;
    transition: 0.5s all;
}
ul.sub_menu1 li.sub_menu_detail .detail_1 a {
    border: 1px solid #fff;
    padding: 5px 15px;
}
ul.sub_menu1 li.sub_menu_detail .detail_1 a:hover {
    background-color: #f26b38;
    color: #fff !important;
    border: 1px solid #f26b38;
}
ol.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: initial;
    border: 1px solid #fff;
}
.carousel-indicators .active {
    opacity: 1;
    border: none;
    background: #f26b38;
    height: 13px;
    width: 13px;
}
a.carousel-control-next {
    opacity: 1;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 47%, rgba(0, 0, 0, 0.4) 100%);
}
a.carousel-control-prev {
    left: 0;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0) 47%, rgba(255, 255, 255, 0) 100%);
}
.com3 a {
    text-transform: uppercase;
    color: #999;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    font-size: 20px;
}
.com3 {
    margin-top: 11px;
}
.com3 div:first-child {
    margin-bottom: 15px;
}
.com3 .active_com3 {
    border-bottom: 2px solid #f26b38;
    color: #111;
}
.com3 a:hover {
    text-decoration: none;
    transition: 0.5s all;
}
span.underline_com3 {
    position: absolute;
    bottom: -2px;
    left: 0;
    background: #f26b38;
    transform: scale(0);
    width: 100%;
    height: 5%;
    transition: 0.3s;
}
.com3 a:hover .underline_com3 {
    transform: scale(1);
}
.show_more {
    margin-top: 35px;
    text-align: right;
}
.show_more a {
    border: 1px solid #f26b38;
    padding: 10px 20px;
    color: #f26b38;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: 0.3s all;
}
.show_more a:hover {
    background: #f26b38;
    color: #fff;
    border: 1px solid #f26b38;
}
.com4 {
    display: flex;
    z-index: 0;
}
.com4_r_mid {
    display: flex;
    white-space: nowrap;
}
.like, .view {
    margin-right: 2%;
}
.com4_left img {
    width: 230px;
    height: 160px;
}
.com4_left {
    margin-right: 2%;
    position: relative;
    z-index: 3;
    flex-grow: 1;
}
.like span {
    background: #1963f2;
    color: #fff;
    padding: 0 8px;
    border-radius: 4px;
    font-weight: 700;
    text-transform: capitalize;
    font-size: 13px;
}
.view span {
    background: #eee;
    padding: 0 12px;
    border-radius: 5px;
    font-size: 14px;
}
.start span {
    color: #aaa;
}
.com4_right {
    flex-basis: 100%;
}
.com4_right p {
    font-size: 13px;
}
.com4_right h5 {
    font-size: 1em;
}
.fa-star {
    color: #fac917
}
.title_com4.pb-3.mb-2 h5 {
    text-transform: uppercase;
}
.title_com4 a:hover {
    color: #f26b38;
    transition: 0.5s;
}
span.underline_com4 {
    width: 11%;
    background: #f26b38;
    display: block;
    height: 2px;
}
.overlay_com4 {
    position: a;
    position: absolute;
    position: absolute;
    top: 0;
    bottom: 100%;
    height: 100%;
    width: 100%;
    background: #111;
    opacity: 0;
}
.com4:hover .overlay_com4 {
    transition: 0.5s all;
    opacity: 0.5;
}
.com4:hover .com4_right h5 {
    transition: 0.5s all;
    color: #f26b38
}
.img_com5:hover .overlay_com5 {
    opacity: 0.8;
    transition: 0.5s all;
}
.overlay_com5_2 {
    position: absolute;
    padding: 5%;
    top: 0
}
.overlay_com5_2 a {
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    opacity: 0;
}
.overlay_com5_bot {
    position: absolute;
    bottom: 5%;
    width: 100%;
    text-align: center;
}
a.detail_com5 {
    color: #fff;
    border: 1px solid #fff;
    padding: 10px 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
    visibility: hidden;
    opacity: 0;
}
.com5_inside.img_com5.position-relative.d-block:hover .overlay_com5_2 a {
    opacity: 1;
}
.com5_inside.img_com5.position-relative.d-block:hover .detail_com5 {
    opacity: 1;
    visibility: visible;
}
.detail_com5:hover {
    border: #f26b38 1px solid;
    background: #f26b38;
    transition: 0.4s all;
}
.content_com6 a {
    color: #000;
    font-weight: 500;
}
.footer {
    background: #1a1a1a;
    padding: 30px 0;
}
.footer .title_foot {
    color: #aaa;
    text-transform: uppercase;
    border-left: 5px solid #f26b38;
    padding-left: 10px;
    font-size: 1.2rem
}
.footer_content {
    list-style: none;
    padding: 0;
}
.footer_content li {
    margin: 8px 0;
}
.footer_content a {
    color: #aaa;
    font-size: 0.8rem;
    text-transform: uppercase;
    transition: 0.5s all;
    padding-top: 7px;
}
.footer_content a:hover {
    color: #f26b38;
}
li.footer_icon a {
    font-size: 1.7rem;
    margin-right: 10px;
}
.line_footer {
    background: #484848;
}
.container.footer_end i {
    color: #999;
    font-size: 0.9rem;
}
.container.footer_end div {
    place-content: space-between;
}
span.ml-3.mr-3.d-flex.align-items-center {
    font-size: 25px;
    color: #999;
}
.com3 .active_sigin {
    border-bottom: 2px solid #f26b38;
    color: #f26b38;
}
.com3 .title_signup:hover {
    color: #f26b38;
}
.form_signin {
    width: 460px;
    height: 360px;
    background: #fff;
    position: absolute;
    left: 50%;
    top: -100%;
    z-index: 10;
    margin-left: -230px;
    padding: 10px 35px 0 35px;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s all;
}
.form_signup {
    width: 460px;
    height: 660px;
    background: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 10;
    margin-left: -230px;
    padding: 10px 35px 0 35px;
    visibility: hidden;
    opacity: 0;
}
.show_form_sigup {
    opacity: 1;
    visibility: visible;
    top: 130px;
    z-index: 40;
}
.form_signin p {
    color: #999;
    font-size: 13px;
    margin-top: 15px;
}
.btn_sigin {
    background: #f26b38;
    color: #fff;
    text-transform: uppercase;
    border: 0;
}
.btn_sigin:hover {
    background: #cc4714;
    color: #fff
}
.show_form_sigin {
    visibility: visible;
    opacity: 1;
    top: 5%;
    z-index: 35;
}
.blur_body {
    opacity: 0.5;
    background: black;
}
.btn_close_signin {
    top: 3%;
    right: 10%;
    font-size: 2rem;
}
.btn_close_signin i {
    color: #ddd;
}
.blur_body {
    opacity: 0;
    background: #000;
    width: 100%;
    height: 5000px;
    z-index: 2;
    position: fixed;
    transition: 0.3s all;
    visibility: hidden;
    top: 0;
    left: 0
}
.show_blur_body {
    opacity: 0.5;
    visibility: visible;
    z-index: 10;
}
@media screen and (max-width: 1200px) {
    .sub_menu_detail {
        display: none !important;
    }
    ul.sub_menu1 {
        width: 300px;
    }
}
@media screen and (max-width: 768px) {
    .navbar-light .navbar-toggler {
        position: relative;
        left: 95%;
        bottom: 50px;
    }
    .com2_bg {
        background: #FFF !important
    }
    div#navbarSupportedContent {
        background: #333 !important;
        position: relative;
        bottom: 47px;
        z-index: 111;
    }
    ul li:last-child {
        border: initial;
    }
    ul.sub_menu1 {
        width: 100%;
        text-align: center;
        position: relative;
        top: 0;
    }
    nav.navbar.navbar-expand-lg.navbar-light.bg-transparent {
        height: ;
        height: 0px;
        padding: 0;
    }
}
@media screen and (max-width: 574px) {
    .navbar-light .navbar-toggler {
        position: relative;
        left: 82%;
        bottom: 52px;
    }
    div#navbarSupportedContent {
        background: #333 !important;
    }
    .form_signin, .form_signup {
        width: 400px;
        margin-left: -200px;
        z-index: 35;
    }
}